################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/benchmark_runner/xoracle.xml
/benchmark_runner/_oracle.xml
