################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/benchmark_runner/xoracle.xml
/benchmark_runner/_oracle.xml
benchmark_runner/src/SqlOptimizerBechmark/.vs
benchmark_runner/src/SqlOptimizerBechmark/SqlOptimizerBechmark/bin
benchmark_runner/src/SqlOptimizerBechmark/SqlOptimizerBechmark/obj
